.advantages__list_item.defaultList__item {
    &:nth-of-type(1)::before{
        background-image: url('../img/icons/14-icon.svg');
    }

    &:nth-of-type(2)::before{
        background-image: url('../img/icons/15-icon.svg');
    }

    &:nth-of-type(3)::before{
        background-image: url('../img/icons/16-icon.svg');
    }

    &:nth-of-type(4)::before{
        background-image: url('../img/icons/17-icon.svg');
    }

    &:nth-of-type(5)::before{
        background-image: url('../img/icons/18-icon.svg');
    }

    &:nth-of-type(6)::before{
        background-image: url('../img/icons/19-icon.svg');
    }

    @include desktop{
        max-width: calc(33% - 40px);

        &:not(:last-of-type){
            margin-bottom: 30px;
        }

        &:nth-child(n+4){
            margin-bottom: 0px;
        }
    }
}

.advantages{
    @include desktop{
        position: relative;
        top: 117px;
    }
}