.advantages {
    background-image: url("../img/photos/2__320.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;

    @include tablet {
        background-image: url("../img/photos/2__768.svg");
    }

    @include desktop {
        background-image: url("../img/photos/3__1440.svg");
        background-position: center;
    }

    @include designDesktop{
        min-height: 1192px;
        background-image: url("../img/photos/3__1920.svg");
    }
}

.advantages__list {
    @include tablet{
        margin-left: 90px;
    }

    @include desktop{
        margin-left: 0;
    }

    @include designDesktop{
        margin-top: 50px;
    }
}

.advantages__list_item_icon {
    width: 75px;
    height: 75px;
    @include dFlexJccAic;
    position: relative;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.15);
    border-radius: 0 25px;
    background-color: #ffffff;
    margin-bottom: 20px;

    &::before {
        content: "";
        width: 47px;
        height: 47px;
        display: block;
        @include bgIcons;
        z-index: 2;

        @include tablet{
            width: 60px;
            height: 60px;
        }

        @include desktop{
            width: 80px;
            height: 80px;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 75px;
        height: 75px;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 0 25px;
        background-color: #ffffff;
        opacity: 0.2;
        z-index: 1;

        @include tablet{
            width: 90px;
            height: 90px;
            top: 10px;
            left: 10px;
        }

        @include desktop{
            width: 120px;
            height: 120px;
        }
    }

    @include tablet{
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
    }

    @include desktop{
        width: 120px;
        height: 120px;
    }

    @include desktop {
        top: 0;
    }
}

.advantages__list_item {
    @include tablet{
        width: 100%;
        position: relative;
        padding-left: 120px;
    }

    @include desktop {
        max-width: 450px;

        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5) {
            padding-right: 160px;
            padding-left: 0;

            .advantages__list_item_icon {
                right: 0;
                left: initial;
            }

            .advantages__list_item_title {
                text-align: right;
                width: 100%;

                &::after {
                    left: initial;
                    right: 0;
                    transform: translate(0);
                }
            }

            .advantages__list_item_text {
                text-align: right;
            }
        }

        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(6) {
            padding-left: 160px;

            .advantages__list_item_icon {
                left: 0;
            }

            .advantages__list_item_title {
                text-align: left;
                width: 100%;

                &::after {
                    left: 0;
                    transform: translate(0);
                }
            }

            .advantages__list_item_text {
                text-align: left;
            }
        }
    }

    @include designDesktop{
        max-width: calc(50% - 75px);
    }

    &:not(:last-of-type) {
        margin-bottom: 30px;

        @include tablet{
            margin-bottom: 50px;
        }
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
        @include desktop{
            margin-bottom: 80px;
        }
    }

    &:nth-of-type(1) {
        .advantages__list_item_icon::before {
            background-image: url("../img/icons/1.svg");
        }
    }

    &:nth-of-type(2) {
        .advantages__list_item_icon::before {
            background-image: url("../img/icons/2.svg");
        }
    }

    &:nth-of-type(3) {
        .advantages__list_item_icon::before {
            background-image: url("../img/icons/3.svg");
        }
    }

    &:nth-of-type(4) {
        .advantages__list_item_icon::before {
            background-image: url("../img/icons/4.svg");
        }
    }

    &:nth-of-type(5) {
        .advantages__list_item_icon::before {
            background-image: url("../img/icons/5.svg");
        }
    }

    &:nth-of-type(6) {
        .advantages__list_item_icon::before {
            background-image: url("../img/icons/6.svg");
        }
    }
}

.advantages__list_item_title {
    color: #ffffff;

    @include tablet{
        width: 100%;
        text-align: left;

        &::after{
            left: 0;
            transform: translate(0);
        }
    }

    @include designDesktop{
        font-size: 20px;
        letter-spacing: 0.5px;
    }
}

.advantages__list_item_text {
    color: #ffffff;

    @include tablet{
        text-align: left;
    }

    @include desktop {
        font-size: 15px;
    }

    @include designDesktop{
        font-size: 16px;
        line-height: 24px;
    }
}
