.crypto{
    .container{
        position: relative;
        padding-bottom: 223px;

        @include tablet{
            padding-bottom: 260px;
        }
    }
}

.crypto__title{
    @include tablet{
        margin-bottom: 55px;
        line-height: 36px;
    }
}

.crypto__list{
    @include tablet{
        max-width: 385px;
    }
}

.crypto__list_item{
    @include tablet{
        &:nth-of-type(4){
            max-width: 266px;
        }
    }

    &:nth-of-type(1)::before{
        background-image: url('../img/icons/20-icon.svg');
    }

    &:nth-of-type(2)::before{
        background-image: url('../img/icons/21-icon.svg');
    }

    &:nth-of-type(3)::before{
        background-image: url('../img/icons/22-icon.svg');
    }

    &:nth-of-type(4)::before{
        background-image: url('../img/icons/23-icon.svg');
    }
}

.crypto__img{
    min-height: 253px;
    min-width: 494px;
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-50%);

    @include tablet{
        left: 50%;
        bottom: 40px;
    }

    @include desktop{
        top: -70px;
        left: 0px;
        transform: translateX(0);
        bottom: inherit;
        min-width: 1361px;
        min-height: 698px;
    }

    @include designDesktop{
        top: -25px;
        left: 167px;
    }
}