.intro{
    position: relative;
    background-image: url('../img/photos/1__320.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet{
        background-image: url('../img/photos/1__768.svg');
    }

    @include desktop{
        min-height: 100vh;
        background-size: cover;
        background-image: url('../img/photos/1__1440.svg');
    }

    @include designDesktop{
        background-size: cover;
        background-position: center;
        background-image: url('../img/photos/1__1920.svg');
    }

    .container{
        position: relative;
        padding-top: 30px;
        padding-bottom: 275px;

        @include tablet{
            padding-bottom: 560px;
        }

        @include desktop{
            padding-bottom: 305px;
            align-items: flex-start;
        }

        @media screen and (min-width: 1400px){
            padding-top: 70px;
        }

        @include designDesktop{
            padding-top: 100px;
        }
    }

    .intro__logo{  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 137px;
        height: 50px;
        margin: 0 auto 30px;
        
        @include tablet{
            margin-bottom: 60px;
            width: 218px;
            height: 80px;
        }

        @include desktop{
            width: 270px;
            height: 99px;
            margin-bottom: 30px;
            margin-left: 0;
        }

        @media screen and (min-width: 1400px){
            margin-bottom: 78px;
        }

        @include designDesktop{
            width: 360px;
            height: 132px;
            margin-bottom: 96px;
        }
        
        .intro__logo_img{
            width: 100%;
        }
    }

    .intro__title{
        white-space: pre-line;
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        color: #ffffff;
        font-family: $MontserratBlack;
        position: relative;
        margin-bottom: 20px;
        display: block;
        flex-direction: column;
        justify-content: center;

        @include tablet{
            color: #ffffff;
            font-size: 50px;
            line-height: 56px;
            letter-spacing: 1.25px;
            white-space: initial;
            margin-bottom: 73px;
        }

        @include desktop{
            margin-bottom: 60px;
            max-width: 574px;
            white-space: initial;
            text-align: left;
        }

        @media screen and (min-width: 1400px){
            font-size: 56px;
            letter-spacing: 1.4px;
        }

        @include designDesktop{
            max-width: 701px;
            margin-bottom: 78px;
        }

        &::after{
            display: block;
            position: relative;
            margin: 20px auto 0;
            content: '';
            width: 75px;
            height: 25px;
            background-image: url("../img/icons/section__title.svg");
            background-repeat: no-repeat;
            background-size: cover;
            
            @include tablet{
                width: 90px;
            }

            @include desktop{
                margin: 30px 0 0;
            }
        }
    }

    .intro__text{
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-family: $MontserratRegular;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.9px;
        margin-bottom: 20px;

        @include tablet{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 1.2px;
            margin-bottom: 45px;
        }

        @include desktop{
            letter-spacing: 1.4px;
            margin-bottom: 55px;
            max-width: 644px;
            font-size: 28px;
            text-align: left;
        }

        @include designDesktop{
            font-size: 36px;
            letter-spacing: 1.8px;
            max-width: 828px;
            margin-bottom: 73px;
        }
    }
}

.intro__button-scroll{
    display: flex;
    background-color: transparent;
    border: none;
    appearance: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    animation: bounce 1s infinite alternate;
    transition: all 0.3s ease-in-out;

    &:hover{
        opacity: 0.7;
    }

    @include desktop{
        margin-left: 0;
        margin-bottom: 50px;
    }

    &::before{
        display: block;
        content: '';
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background-image: url("../img/icons/intro__button.png");
        @include bgIcons;

        @include tablet{
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }

        @include designDesktop{
            width: 70px;
            height: 70px;
        }
    }

    span{
        color: #ffc000;
        font-family: $Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.8px;

        @include tablet{
            font-size: 20px;
            letter-spacing: 1px;
        }

        @include designDesktop{
            font-size: 24px;
            letter-spacing: 1.2px;
        }
    }
}