.stats{
    .container{
        @include tablet{
            padding-top: 0;
        }
    }
}

.stats__subtitle{
    @include tablet{
        margin-bottom: 46px;
    }
}

.stats__list{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.stats__list_item{
    text-align: center;

    @include tablet{
        width: calc(50% - 40px);
    }

    @include desktop{
        max-width: 205px; 
    }

    @include designDesktop{
        max-width: 300px;
    }

    &:not(:last-of-type){
        margin-bottom: 37px;
        
        @include desktop{
            margin-bottom: 0;
        }
    }
}

.stats__list_item_title{
    color: #712076;
    font-family: $GilroyBlack;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
    position: relative;

    @include tablet{
        font-size: 50px;
        letter-spacing: 2.5px;
        text-align: left;
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 5px;
        background-color: #ffb759;

        @include tablet{
            left: 0;
            transform: initial;
        }
    }

    &::after{
        content: '+';
        display: inline-block;
        margin-left: 20px;
        color: #712076;
        letter-spacing: 1.8px;
    }
}

.stats__list_item_subtitle{
    color: #ffb759;
    font-family: $GilroyExtraBold;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 3.2px;

    @include tablet{
        font-size: 16px;
        text-align: left;
        letter-spacing: 3.2px;
        margin-bottom: 18px;
    }

    @include designDesktop{
        font-size: 18px;
        letter-spacing: 3.6px;
    }
}

.stats__list_item_descr{
    color: #333333;
    font-family: $MontserratRegular;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;

    @include tablet{
        font-size: 16px;
        line-height: 25px;
        text-align: left;
    }

    @include designDesktop{
        font-size: 18px;
        line-height: 25px;
    }
}