.infoStats{
    background-image: url('../img/photos/infoStats.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        background-image: url("../img/photos/infoStats__tablet.svg");
    }

    @include desktop{
        background-image: url("../img/photos/infoStats__desktop.svg");
        background-position: center center;
        padding-top: 167px;
    }
}

.stats{
    @include tablet{
        padding-top: 80px;
    }
}

.stats__list{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    
}

.stats__list_item{
    text-align: center;

    @include tablet{
        max-width: calc(50% - 40px);
    }

    @include desktop{
        max-width: 205px;     
    }

    @include designDesktop{
        max-width: 300px;
    }

    &:not(:last-of-type){
        margin-bottom: 37px;
        
        @include desktop{
            margin-bottom: 0;
        }
    }
}

.stats__list_item_title{
    color: #ffffff;
    font-family: $GilroyBlack;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
    position: relative;
    margin-bottom: 11px;

    @include tablet{
        padding-top: 30px;
        font-size: 50px;
        text-align: left;
        margin-bottom: 14px;
    }

    @include designDesktop{
        font-size: 60px;
        letter-spacing: 3px;
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 5px;
        background-image: linear-gradient(to right, #b1f9c6 0%, #4ee482 100%);

        @include tablet{
            left: 0;
            transform: initial;
        }
    }

    &::after{
        content: '+';
        display: inline-block;
        margin-left: 20px;
        color: #4ee482;
        letter-spacing: 2.4px;
    }
}

.stats__list_item_subtitle{
    color: #4ee482;
    font-family: $GilroyRegular;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
    letter-spacing: 2.8px;

    @include tablet{
        font-size: 16px;
        text-align: left;
        letter-spacing: 3.2px;
        margin-bottom: 18px;
    }

    @include designDesktop{
        font-size: 18px;
        letter-spacing: 3.6px;
    }
}

.stats__list_item_descr{
    color: #ffffff;
    font-family: $MontserratRegular;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;

    @include tablet{
        font-size: 16px;
        line-height: 25px;
        text-align: left;
    }

    @include designDesktop{
        font-size: 18px;
        line-height: 25px;
    }
}