$GilroyBlack: GilroyBlack, sans-serif;
$GilroyRegular: GilroyRegular, sans-serif;
$OpenSansBold: OpenSansBold, sans-serif;
$MontserratBold: MontserratBold, sans-serif;
$MontserratRegular: MontserratRegular, sans-serif;
$MontserratSemiBold: MontserratSemiBold, sans-serif;
$MontserratExtraBold: MontserratExtraBold, sans-serif;
$MontserratBlack: MontserratBlack, sans-serif;