$GilroyBlack: GilroyBlack, sans-serif;
$GilroyExtraBold: GilroyExtraBold, sans-serif;
$OpenSansBold: OpenSansBold, sans-serif;
$MontserratBold: MontserratBold, sans-serif;
$MontserratRegular: MontserratRegular, sans-serif;
$Ubuntu: Ubuntu, sans-serif;
$MontserratSemiBold: MontserratSemiBold, sans-serif;
$MontserratExtraBold: MontserratExtraBold, sans-serif;
$MontserratBlack: MontserratBlack, sans-serif;
$MontserratMediumItalic: MontserratMediumItalic, sans-serif;
$MontserratMedium: MontserratMedium, sans-serif;